.readthedocs.yaml
LICENSE
Makefile

caravel/
def/
dependencies/
docs/
gds/
lef/
lib/
lvs/
mag/
maglef/
ma
precheck_results/
sdc/
sdf/
signoff/
spef/
spi/
venv-cocotb/
venv/

##############
verilog/gl/
openlane/*/runs
