.readthedocs.yaml
LICENSE
Makefile
README.md
caravel/
def/
dependencies/
docs/
gds/
lef/
lib/
lvs/
mag/
maglef/

precheck_results/
sdc/
sdf/
signoff/
spef/
spi/
venv-cocotb/
venv/
##############
verilog/gl/
openlane/*/runs
